@use '../0-tools/vars' as *;

.navbar-light .navbar-nav .nav-link.buttons__btn-primary-custom {
  background-color: $primary-red;
  color: $white;
  &:hover {
    background-color: $primary-blue;
  }
}

.buttons__yt-subscribe {
  display: inline-block;
  height: 1rem;
  margin-top: -4px;
  margin-right: 5px;
  transform: scale(1.8,1.8);
  vertical-align: middle;
  width: 1rem;
}

.buttons__custom-danger {
  margin-right: 20px;
}

.buttons__btn-margin-top {
  margin-top: 20px;
}

.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
}

.btn-primary:hover {
  background-color: $btn-hover-bg;
  border-color: $btn-hover-border;
}

.buttons__action--width-auto {
  width: auto
}

.buttons__action--width-auto:nth-child(1) {
  margin-right: .25rem
}

.buttons__action--width-auto:nth-child(2) {
  margin-left: .25rem
}

@media screen and (min-width: 360px) {
  .buttons__action {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .buttons__action {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .buttons__action {
    font-size: 1.75rem;
  }
}
