---
layout: default
baseurl: ''
title: Continuing Ed
description: ''
slides:
  - image: assets/img/kcc-placeholder.png
    alt-text: The Power of Community
    url: 'https://continuinged.kcc.edu'
    text: The **POWER** of Community
  - image: assets/img/kcc-placeholder.png
    alt-text: The Power of Education
    url: 'https://continuinged.kcc.edu'
    text: The **POWER** of Community
  - image: assets/img/kcc-placeholder.png
    alt-text: The Power of Giving
    url: 'https://continuinged.kcc.edu'
    text: The **POWER** of Community
  - image: assets/img/kcc-placeholder.png
    alt-text: The Power of Giving
    url: 'https://continuinged.kcc.edu'
    text: The **POWER** of Community
---

<!-- Build -->
<main class="position__offset-fixed-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-12 hero-slider__slider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
          <div class="hero-slider__slider--heading-container text-center">
            <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
          </div>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}"><img src="assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
          <div class="hero-slider__slider--heading-container text-center">
            <h3 class="hero-slider__slider--slide-heading">{{slide.text}}</h3>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  <section class="mt-3">
    {% for announcement in site.announcements %}
      {% if announcement.display_announcement == true %}
        {% include announcement.html %}
      {% endif %}
    {% endfor %}
  </section>
</main>
