---
layout: default
baseurl:
homepage: true
title: Continuing Education & Career Services
description: >-
  KCC Continuing Education & Career Services has flexible, convenient and
  cost-effective training. Career skills, computers personal enrichment, and
  lifelong learning.
student_testimonials:
slides:
  - image: /uploads/fall-cont-ed-2022-banner.jpg
    alt-text: See what's offered for Fall 2022.
    url: uploads/pdf/cont-ed-fall_2022-mailer.pdf
    text:
  - image: /uploads/lli-web-banner-fall-22.jpg
    alt-text: >-
      Kankakee Community College, Lifelong Learning Institute. Curiosity never
      retires! Classes for active people ages 50 and better. Register Now!
    url: https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF777290
    text:
  - image: /uploads/1170537720834896-ns1myom7lw5cd8h64o8b-height640.png
    alt-text: You don't need a classroom to gain new skills.
    url: https://www.ed2go.com/kankakeecc/
    text:
  - image: uploads/slider_library-group.jpg
    alt-text: Learn It Today. Use It Tomorrow.
    url: https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF6C5EA0
    text: Learn It Today. Use It Tomorrow.
  - image: uploads/slider_man-and-woman.jpg
    alt-text: Career Services
    url: https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7C25B0
    text: Get Connected to Job Opportunities.
---
<!-- Build -->
<main>
  <div class="container">
    {% include hero-slider.html %}
  </div>
  <section class="mt-3">
    {% for announcement in site.announcements %}
      {% if announcement.display_announcement == true %}
        {% include announcement.html %}
      {% endif %}
    {% endfor %}
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col margins__col--top home__col--heading-underline">
          <h3 class="typography__section--heading margins__heading--btm">Training</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--scholarships">
          <div class="editable">
            <p><a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7BCBD8"><img alt="Woman using a laptop on the internet" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/computer-skills_square.jpg" /> </a></p>
          </div>
          <a class="links__no-underline" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7BCBD8"><h4 class="typography__orange-h4 editable">
  Computer<br />Skills
</h4></a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                Get the skills to use your digital devices effectively at work and home. Many classes offer preparation for Microsoft Office Specialist certification exams.
              </h5>
            </div>
          </div>
            <a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7BCBD8" class="btn btn-primary editable">See Courses</a>
        </div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--give">
          <div class="impact__give">
            <div class="editable">
              <p><a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF6C5EA0"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/professional-development_square.jpg" /> </a></p>
            </div>
            <a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF6C5EA0" class="links__no-underline"><h4 class="typography__orange-h4 editable">
  Professional<br />Development
</h4></a>
            <div class="row action-cards__text-wrapper">
              <div class="col align-self-start">
                <h5 class="typography__h5 editable">
                  We offer up-to-date topics for a wide range of careers. Many classes offer professional development/certification units. Learn from nationally-known experts so you stay current without the hassle of big city travel and parking charges!
                </h5>
              </div>
            </div>
              <a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF6C5EA0" class="btn btn-primary editable">See Courses</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="editable">
            <p><a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF75E808"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/personal-enrichement_square.jpg" /> </a></p>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF75E808" class="links__no-underline">
            <h4 class="typography__orange-h4 editable">
              Personal<br />Enrichment
            </h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                Here&rsquo;s where you can develop a hobby, meet people with similar interests, and explore the latest trends. You&rsquo;ll have a good time!
              </h5>
            </div>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF75E808" class="btn btn-primary editable">See Courses</a>
        </div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="editable">
            <p><a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF777290"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/lli-square.jpg" /> </a></p>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF777290" class="links__no-underline">
            <h4 class="typography__orange-h4 editable">
              Lifelong Learning<br />Institute
            </h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                If you are age 50 or better, you&rsquo;ll find stimulating intellectual and cultural pursuits in Lifelong Learning Institute classes. Courses are affordable, high-quality, and take place in an environment that fosters participation.
              </h5>
            </div>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF777290" class="btn btn-primary editable">See Courses</a>
        </div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="editable">
            <p><a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7C25B0"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/career-services_square.jpg" /> </a></p>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7C25B0" class="links__no-underline">
            <h4 class="typography__orange-h4 editable">
              Career<br />Workshops
            </h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                Job seekers can find courses related to resumes, job search, interviewing and more.
              </h5>
            </div>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7C25B0" class="btn btn-primary editable">See Courses</a>
        </div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="editable">
            <p><a rel="noopener noreferrer" href="./hcctp"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/highway-construct_square.jpg" /> </a></p>
          </div>
          <a rel="noopener noreferrer" href="./hcctp" class="links__no-underline">
            <h4 class="typography__orange-h4 editable">
              Highway<br />Construction
            </h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                This tuition-free, 12-week program is designed to provide qualified individuals with training in highway construction careers.
              </h5>
            </div>
          </div>
          <a rel="noopener noreferrer" href="./hcctp" class="btn btn-primary editable">Learn More</a>
        </div>
        <div class="col-md-3 col-lg-4 d-none d-md-block"></div>
        <div class="col-md-6 col-lg-4 text-center action-cards__col--margin-btm action-cards__col--volunteer">
          <div class="editable">
            <p><a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7887E8"><img alt="" class="img-fluid rounded-circle w-50 img__shadow" src="uploads/dip_square.jpg" /> </a></p>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7887E8" class="links__no-underline">
            <h4 class="typography__orange-h4 editable">
              Driver Improvement<br />Program
            </h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col align-self-start">
              <h5 class="typography__h5 editable">
                This National Safety Council Defensive Driving Course (DDC-4) offers participants the opportunity to keep minor traffic violations off their driving records. Some insurance companies offer premium discounts to those who complete a DDC-4 course.
              </h5>
            </div>
          </div>
          <a rel="noopener noreferrer" href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF7887E8" class="btn btn-primary editable">See Courses</a>
        </div>
        <div class="col-md-3 col-md-4 d-none d-md-block"></div>
      </div>
    </div>
  </section>
  <section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://www.enrole.com/kcc/jsp/index.jsp?categoryId=BF772088"><img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}uploads/ed2go-banner_updates.jpg" class="img-fluid img__full-width" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
  {% include testimonials.html %}
  <div class="container">
    <div class="row">
      <div class="col-12 margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading margins__heading--btm">Become an Instructor</h3>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-around editable">
        <p>Continuing Education instructors provide excellent teaching and learning opportunities for the community. KCC&rsquo;s Continuing Education &amp; Career Services Office continues to search for competent instructors wanting to teach short-term professional seminars and community education workshops, day or evening and on-campus or virtual.</p>
        <p><strong>You can make a difference in helping fulfill the lifelong learning needs of our community.</strong></p>
      </div>
      <div class="col-md-6">
        <div class="mt-md-4 editable">
          <div class="card">
            <div class="card-body">
              <p><strong>Do you have a special skill or talent that you would like to share with the community?</strong></p>
              <p>If you have an area of expertise and a true dedication and love for teaching, please complete the form and submit it. If your course is determined to fit our current needs, we will contact you to discuss the next steps in hiring you and scheduling the class.</p>
              <p class="text-center"><button id="modalButton" role="button" disabled="disabled" data-target="#formModal" data-toggle="modal" class="btn btn-primary">Complete the Form</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade show" id="formModal" data-backdrop="static" data-keyboard="false" aria-modal="true" aria-labelledby="formModalLabel" aria-hidden="true" tabindex="-1" style="display: block; opacity: 0; pointer-events: none !important;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">KCC&nbsp;Continuing&nbsp;Education&nbsp;Instructor Inquiry&nbsp;Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <script id="script" type="text/javascript" src="https://form.jotform.com/jsform/202296570720049"></script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- End modal -->
  {% include contacts.html %}
</main>
