{% comment %}
  TODO:
    Lastly, copy this file back into kcc-gem-theme & kcc-startup-template!!
  DONE:
    Cleanup more classes.
    Add a class for targeting nav-items w/ JS.
{% endcomment %}
{% comment %}
  TODO for kcc-gem-theme:
  - Copy continuinged's cleaned-up '_links.scss' into the theme & startup-template.
  - Copy '_includes/nav-local.html' into the theme & startup-template.
  - Add site.site_name to all repos _config.yml's
  - Switch all repos to build navigation from _config.yml
  - CHECK OTHER SITES USING TEMPLATE FOR BREAKING CHANGES FROM THE ABOVE.
{% endcomment %}
<nav id="mainNav" role="navigation" class="navbar navbar-expand-lg navbar-light bg-light local-nav fixed-top navbar-fixed-top">
  <a href="{{ page.baseurl }}" class="links__no-underline navbar-brand">
    <h1 class="typography__nav-heading">{{ site.site_name }}</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavContent" aria-controls="mainNavContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavContent">
    <ul class="js-nav navbar-nav ml-auto">
      {% for link in site.nav_links %}
      {% if link.button == false  %}
      <li class="js-nav-item nav-item">
        <a class="nav-link links__nav-link--color typography__nav-link" href="{% unless link.external == true %}{{page.baseurl}}{% endunless %}{{ link.link_href }}">{{ link.link_text }}</a>
      </li>
      {% else %}
      <li class="js-nav-item nav-item">
        <a href="{% unless link.external == true %}{{page.baseurl}}{% endunless %}{{ link.link_href }}" class="btn btn-primary typography__nav-link">{{ link.link_text }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
