<nav id="mainNav" role="navigation" class="navbar navbar-expand-lg navbar-light bg-light local-nav fixed-top navbar-fixed-top">
  <a href="{{ page.baseurl }}" class="links__local-nav__newsroom-heading-link typography__newsroom-heading navbar-brand">
    <h1 class="typography__nav-heading">Continuing Education</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li id="home" class="nav-item active">
        <a class="nav-link links__local-nav__nav-link--color typography__nav-link" href="{{page.baseurl}}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% for link in site.nav_links %}
      {% if link.jump_link == false and link.button == false  %}
      <li id="{{ link.location | downcase | replace: ' ', '-'  }}" class="nav-item">
        <a class="nav-link links__local-nav__nav-link--color typography__nav-link" href="{{page.baseurl}}{{ link.location | downcase | replace: ' ', '-'  }}/">{{ link.location }}<span></a>
      </li>
      {% endif %}
      {% if link.jump_link == true  %}
      <li id="{{ link.location | downcase | replace: ' ', '-'  }}-link" class="nav-item">
        <a class="nav-link links__local-nav__nav-link--color typography__nav-link" href="{{page.baseurl}}/#{{ link.location }}">{{ link.location }}<span></a>
      </li>
      {% endif %}
      {% if link.button == true %}
      <li id="{{ link.location | downcase | replace: ' ', '-'  }}-link" class="nav-item">
        <a href="#" class="btn btn-primary typography__nav-link">{{ link.location }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
