<section>
  <div class="container">
    <div class="row">
      <div class="col margins__col--top section__heading-underline">
        <h2 class="typography__section--heading margins__heading--btm">Testimonials</h2>
      </div>
    </div>
    <div class="row">
      {% assign sorted_testimonials = site.testimonials | sort: 'order' %}
      {% for testimony in sorted_testimonials limit: 2 %}
        <div class="col-md-6 d-flex flex-column mb-3">
          <div class="d-flex align-items-center justify-content-center">
            {% if testimony.portrait %}<img src="{{ testimony.portrait }}" class="testimonials__img--round" alt="{{ testimony.name }}">{% endif %}
            <div>
              <p class="typography__testimonials--quote typography--heading-line-height">{{ testimony.quote }}</p>
              <h3 class="testimonials__heading--overline testimonials__name--color typography__testimonials--name notranslate">&nbsp;-&nbsp;{{ testimony.name }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
