img.float-image-left {
  height: auto;
  float: left;
  margin: 10px;
  max-width: 100%;
}

img.float-image-right {
  height: auto;
  float: right;
  margin: 10px;
  max-width: 100%;
}

img.no-float {
  float: none;
  margin: 10px;
}

img.center-image {
  height: auto;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
}

p.align-left,
img.align-left,
h1.align-left,
h2.align-left,
h3.align-left,
h4.align-left,
h5.align-left,
h6.align-left {
  text-align: left;
}

p.align-right,
img.align-right,
h1.align-right,
h2.align-right,
h3.align-right,
h4.align-right,
h5.align-right,
h6.align-right {
  text-align: right;
}

p.center-this-text,
img.center-this-text,
h1.center-this-text,
h2.center-this-text,
h3.center-this-text,
h4.center-this-text,
h5.center-this-text,
h6.center-this-text {
  text-align: center;
}

// Content Headings
h1.typography__h2,
h2.typography__h2,
h3.typography__h2,
h4.typography__h2,
h5.typography__h2,
h6.typography__h2 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-size: 2rem;
  font-weight: $font-weight-boldish;
}

h1.typography__h3,
h2.typography__h3,
h3.typography__h3,
h4.typography__h3,
h5.typography__h3,
h6.typography__h3 {
  color: $primary-blue;
  font-family: $font-family-headings;
  font-size: 1.75rem;
  font-weight: $font-weight-bolder;
}

h1.typography__h4,
h2.typography__h4,
h3.typography__h4,
h4.typography__h4,
h5.typography__h4,
h6.typography__h4 {
  color: $primary-red;
  font-family: $font-family-headings;
  font-size: 1.7rem;
  font-weight: $font-weight-bolder;
}

h1.typography__h5,
h2.typography__h5,
h3.typography__h5,
h4.typography__h5,
h5.typography__h5,
h6.typography__h5 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  font-size: 1.5rem;
}

h1.typography__h6,
h2.typography__h6,
h3.typography__h6,
h4.typography__h6,
h5.typography__h6,
h6.typography__h6 {
  color: $color-grey-heading;
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  font-size: 1.4rem;
}

